.ticket-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  text-align: left;
}

.card-id {
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0;
}

.card-tag {
  font-size: 12px;
  color: #888;
  font-weight: bold;
}
.card-tag-img{
    margin-right: 5px;
    height: 10px;
    width: 10px;
}
